.mainContent {
  padding: 40px 20px;
  background-color: white;
}
.cardContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.mainImage {
  width: 100%;
  object-fit: contain;
}
.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardTop {
  display: flex;
  padding: 20px 0 0 30px;
  flex-direction: column;
  gap: 20px;
}
.cardTop p {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 5px;
  font-size: 18px;
  line-height: 24px;
}
.cardTop span {
  font-weight: 700;
}
.price {
  font-size: 24px;
  font-weight: 800;
  line-height: 28.8px;
  text-align: left;
  color: #e3c05c;
}
.btn-group {
  display: flex;
  gap: 20px;
}
.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.amount-editor {
  display: flex;
  align-items: center;
  width: 145px;
  border: 1px solid #e3c05c;
  justify-content: space-around;
  border-radius: 5px;
}
.amount-editor button {
  padding: 10px 20px;
  font-size: 20px;
}
.to-cart {
  font-size: 16px;
  text-align: center;
  width: 145px;
  background-color: #e3c05c;
  border-radius: 5px;
  color: white;
  padding: 10px 0;
}
.more-images {
  width: 610px;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  /* -ms-overflow-style: none; IE and Edge */
  scrollbar-width: none;
}
.more-images::-webkit-scrollbar {
  display: none;
}

.more-images img {
  width: 100%;
  object-fit: contain;
}
.similars {
  margin-top: 100px;
}
.similarCards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  justify-content: space-around;
  gap: 20px;
}
.title {
  font-family: "Noto Serif", serif;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 49.03px;
}
