.aboutHome {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.pagination,
.pagination2 {
  display: flex;
  gap: 10px;
}
.button {
  display: flex;
  align-items: center;
  border: none;
  padding: 12px 17px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0px 20px #0000000d;
}
.content {
  display: flex;
  width: 100%;
  gap: 40px;
  height: auto;
}

.contentLeft {
  width: 100%;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}
.contentLeft p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: justify;
}
.contentLeft p span {
  color: #e3c05c;
  font-weight: 500;
}
.contentRight {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.active {
  opacity: 1;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
.pagination2 {
  justify-content: space-between;
  width: 180px;
  margin: 0 auto;
  display: none;
}

@media screen and (max-width: 700px) {
  .top {
    flex-direction: column;
  }
  .content {
    gap: 20px;
    flex-direction: column-reverse;
  }
  .contentRight {
    height: 400px;
  }
  .image {
    height: 400px;
  }
  .slider {
    height: 400px;
    object-fit: cover;
  }
  .contentLeft {
    align-items: center;
    gap: 20px;
    height: auto;
  }
  .pagination2 {
    display: flex;
  }
  .pagination {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .contentRight {
    height: 279px;
  }
  .image {
    height: 279px;
  }
  .slider {
    height: 279px;
    object-fit: cover;
  }
}
