.ancients {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ancientsContent {
  padding: 40px 20px;
  background-color: white;
}
.ancientsFilter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 20px;
}
.ancientsFilterItem {
  padding: 9px 16px;
  border: 1px solid #e3c05c;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  transition: background 0.1s ease;
}
.ancientsFilterItem:hover {
  background: linear-gradient(
    90deg,
    #f0c74e -35.37%,
    #ca8015 31.22%,
    #f0c74e 85%,
    #ca8015 135.37%
  );
  color: white;
  cursor: pointer;
}
.cards {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  justify-content: space-around;
  gap: 20px;
}
